<!DOCTYPE html>
<html id="htmlBookmarks">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bookmarks</title>

        <!-- <link rel="icon" href="../img/favicon.ico" type="image/x-icon"> -->
        <link rel="stylesheet" href="../css/w3.css">
        <link id="w3Theme" rel="stylesheet" href="../css/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="../css/myStyle.css">
    </head>

    <body class="w3-text-theme">
        <h3 class="w3-center">Bookmarks</h3>
        <div class="w3-card w3-center">
            <div class="w3-theme-l4">Website Links</div>
            <p></p>
        </div>

        <div class="w3-card">
            <div class="w3-row w3-center">

                <div class="w3-col s4">
                    <p><a id="btn1" href="https://github.com/mezcel" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">github<sub class="w3-right">1</sub></a></p>
                    <p><a id="btn2" href="https://gist.github.com/mezcel" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">gist.github<sub class="w3-right">2</sub></a></p>
                    <p><a id="btn3" class="w3-theme-l5 w3-round w3-hover-theme"><span class="w3-text-theme">na</span><sub class="w3-right">3</sub></a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btn4" href="https://jsonlint.com/" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">JSONLint<sub class="w3-right">4</sub></a></p>
                    <p><a id="btn5" href="https://www.powershellgallery.com/" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">Powershell Gallery<sub class="w3-right">5</sub></a></p>
                    <p><a id="btn6" href="https://docs.microsoft.com/en-us/cpp/overview/visual-cpp-in-visual-studio?view=vs-2019" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">C++ in Visual Studio<sub class="w3-right">6</sub></a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btn7" href="https://docs.microsoft.com/en-us/powershell/" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">Powershell Documentation<sub class="w3-right">7</sub></a></p>
                    <p><a id="btn8" href="https://nodejs.org/dist/latest-v12.x/docs/api/" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">NodeJS<sub class="w3-right">8</sub></a></p>
                    <p><a id="btn9" href="https://docs.python.org" target="_blank" class="w3-theme-l5 w3-round w3-hover-theme">Python<sub class="w3-right">9</sub></a></p>
                </div>

            </div>

        </div>
		<p class="w3-center"><code class="w3-text-theme"><span id="isOnline"></span></code></p>

        <div class="w3-display-bottomleft w3-theme-light roundedTopRt">
            <a id="btnBack" href="../index.html" class="roundedTopRt w3-button w3-hover-theme">back <sub>🡄</sub></a>
        </div>
        <div class="w3-display-bottomright w3-pale-red roundedTopLt">
            <a id="btnClose" class="roundedTopLt w3-button w3-hover-theme">close <sub>q</sub></a>
        </div>

        <script src="../js/myScript.js"></script>
    </body>

</html>