<!DOCTYPE html>
<html id="htmlMarkdown">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Markdown Notes</title>

        <link rel="icon" href="../img/md.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/w3.css">
        <link id="w3Theme" rel="stylesheet" href="../css/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="../css/myStyle.css">
        <link rel="stylesheet" href="../css/github-markdown.css">
    </head>

    <body>
        <h3 class="w3-center w3-text-theme">Markdown Notes</h3>
        <div class="w3-card w3-center">
            <div class="w3-theme-l5">Markdown viewer for my notes.</div>
            <p></p>
        </div>

        <div class="w3-card ">
            <div class="w3-row w3-center">
                <div class="w3-col s2"><a id="btn0" title="Open a *.md file from your computer." class="w3-button w3-theme-light w3-hover-theme">OPEN</a></div>
                <div class="w3-col s2"><a id="btn1" class="w3-button w3-hover-theme">Powershell <sub>1</sub></a></div>
                <div class="w3-col s2"><a id="btn2" class="w3-button w3-hover-theme">Git <sub>2</sub></a></div>
                <div class="w3-col s2"><a id="btn3" class="w3-button w3-hover-theme">⬦</a></div>
                <div class="w3-col s2"><a id="btn4" class="w3-button w3-hover-theme">⬦</a></a></div>
                <div class="w3-col s2"><a id="btn5" class="w3-button w3-hover-theme">⬦</a></a></div>
            </div>
        </div>

        <div id="md" class="markdown-body">markdown preview goes here</div>
        <p></p>

        <div class="ctrlBottomLeft">
            <!-- 🡡 △ ⭱ ↥ 🡣 ▽ ⭳ ↧ ▢ ⛶ ↹ 🕀 ✜ ⁜ ⧟ ↸ ⇿ ⇱ ⇲ ⇋ ↔ -->
            <a id="btnTop" title="top ( k )" class="w3-button w3-theme-light w3-hover-theme">⭱</a>
            <p><a id="btnBottom" title="bottom ( j )" class="w3-button w3-theme-light w3-hover-theme">⭳</a></p>
            <a id="btnWidth" title="optimal width ( . )" class="w3-button w3-theme-light w3-hover-theme">⁜</a>
        </div>

        <div class="ctrlBottomRight">
            <a id="btnClose" title="close ( q, esc )" class="w3-button w3-pale-red w3-hover-theme">q</a>
        </div>

        <script src="../js/myScript.js"></script>
    </body>

</html>
