<!DOCTYPE html>
<html id="htmlNotes">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notes</title>

    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="../css/myStyle.css">
    <link rel="stylesheet" href="../css/github-markdown.css">


    <script src="../js/jquery.min.js"></script>
    </head>

    <body>
      <div class="w3-card w3-center">
        <h3>Notes</h3>
        <div class="w3-theme-l5">Markdown viewer for my notes.</div>
        <p></p>
      </div>

      <div class="w3-card ">
        <div class="w3-row w3-center">
          <div class="w3-col s2"><a id="btnWin10Notes" class="w3-button w3-hover-theme">Win10</a></div>
          <div class="w3-col s2"><a id="btnPowershellNotes" class="w3-button w3-hover-theme">Powershell</a></div>
          <div class="w3-col s2"><a id="btnPythonNotes" class="w3-button w3-hover-theme">Python</a></div>
          <div class="w3-col s2"><a id="btnNodeNotes" class="w3-button w3-hover-theme">NodeJS</a></div>
          <div class="w3-col s2"><a id="btnCNotes" class="w3-button w3-hover-theme">C/C++</a></div>
          <div class="w3-col s2"><a id="btnWslNotes" class="w3-button w3-hover-theme">WSL</a></div>
        </div>
      </div>

      <div id="md" class="markdown-body">markdown preview goes here</div>

      <p></p>

      <div class="w3-card">
        <div id="btnClose" class="w3-right w3-pale-red btnClose"><a class="w3-button w3-hover-theme">close</a></div>
      </div>

      <script src="../js/myScript.js"></script>
    </body>

</html>