<!DOCTYPE html>
<html id="htmlScripts">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Scripts</title>

        <link rel="stylesheet" href="../css/w3.css">
        <link rel="stylesheet" href="../css/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="../css/myStyle.css">
    </head>

    <body class="w3-text-theme">
        <h3 class="w3-center">Scripts</h3>
        <div class="w3-card w3-center">
            <div class="w3-theme-l5">Executable scripts</div>
            <p></p>
        </div>

        <div class="w3-card">
            <div class="w3-row w3-center">

                <div class="w3-col s4">
                    <p><a id="btnScript0" class="w3-theme-l5 w3-round">Task Manager</a></p>
                    <p><a id="btnScript1" class="w3-theme-l5 w3-round">Pull/Clone Git Repos</a></p>
                    <p><a id="btnScript2" class="w3-theme-l5 w3-round">.</a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btnScript3" class="w3-theme-l5 w3-round">Rosary (electron)</a></p>
                    <p><a id="btnScript4" class="w3-theme-l5 w3-round">.</a></p>
                    <p><a id="btnScript5" class="w3-theme-l5 w3-round">.</a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btnScript6" class="w3-theme-l5 w3-round">Connection Manager</a></p>
                    <p><a id="btnScript7" class="w3-theme-l5 w3-round">Kill Misc. Process</a></p>
                    <p><a id="btnScript8" class="w3-theme-l5 w3-round">Shutdown</a></p>
                </div>

            </div>

        </div>

        <p class="w3-center"><code class="w3-text-theme"><span id="cd"></span>\Batch\</code></p>

        <div class="w3-display-bottomleft w3-theme-light">
            <a href="../index.html" class="w3-button w3-hover-theme">back</a>
        </div>
        <div id="btnClose" class="w3-display-bottomright w3-pale-red btnClose">
            <a class="w3-button w3-hover-theme">close</a>
        </div>

        <script src="../js/myScript.js"></script>
    </body>

</html>