<!DOCTYPE html>
<html id="htmlScripts">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Scripts</title>

        <link rel="icon" href="../img/ps.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/w3.css">
        <link id="w3Theme" rel="stylesheet" href="../css/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="../css/myStyle.css">
    </head>

    <body class="w3-text-theme">
        <h3 class="w3-center">Scripts</h3>
        <div class="w3-card w3-center">
            <div class="w3-theme-l5">Executable scripts</div>
            <p></p>
        </div>

        <div class="w3-card">
            <div class="w3-row w3-center">

                <div class="w3-col s4">
                    <p><a id="btn1" class="w3-theme-l5 w3-round w3-hover-theme">Task Manager<sub class="w3-right">1</sub></a></p>
                    <p><a id="btn2" class="w3-theme-l5 w3-round w3-hover-theme">Pull/Clone Git Repos<sub class="w3-right">2</sub></a></p>
                    <p><a id="btn3" class="w3-theme-l5 w3-round w3-hover-theme"><span class="w3-text-theme">na</span><sub class="w3-right">3</sub></a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btn4" class="w3-theme-l5 w3-round w3-hover-theme">Rosary (electron)<sub class="w3-right">4</sub></a></p>
                    <p><a id="btn5" class="w3-theme-l5 w3-round w3-hover-theme"><span class="w3-text-theme">na</span><sub class="w3-right">5</sub></a></p>
                    <p><a id="btn6" class="w3-theme-l5 w3-round w3-hover-theme"><span class="w3-text-theme">na</span><sub class="w3-right">6</sub></a></p>
                </div>

                <div class="w3-col s4">
                    <p><a id="btn7" class="w3-theme-l5 w3-round w3-hover-theme">Connection Manager<sub class="w3-right">7</sub></a></p>
                    <p><a id="btn8" class="w3-theme-l5 w3-round w3-hover-theme">Kill Misc. Process<sub class="w3-right">8</sub></a></p>
                    <p><a id="btn9" class="w3-theme-l5 w3-round w3-hover-theme">Shutdown<sub class="w3-right">9</sub></a></p>
                </div>

            </div>

        </div>

        <p class="w3-center"><code class="w3-text-theme"><span id="cd"></span>Batch</code></p>

        <div class="w3-display-bottomleft w3-theme-light roundedTopRt">
            <a id="btnBack" href="../index.html" class="roundedTopRt w3-button w3-hover-theme">back <sub>🡄</sub></a>
        </div>
        <div class="w3-display-bottomright w3-pale-red roundedTopLt">
            <a id="btnClose" class="roundedTopLt w3-button w3-hover-theme">close <sub>q</sub></a>
        </div>

        <script src="../js/myScript.js"></script>
    </body>

</html>
