/*
    myStyles.css
*/

/* w3-btn */
.w3-row > .w3-col > p a {
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;
}

/* grid buttons */

div.w3-col > p > a {
    width: 95%;
}

/* Css Theme Buttons */

.roundedTop {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.roundedTopRt {
    border-top-right-radius: 4px !important;
}

.roundedTopLt {
    border-top-left-radius: 4px !important;
}

.btnSelectBlueGrey {
    color:#607d8b !important;
    border-color:#4d636f !important;
}
.btnSelectBlueGrey:hover, .btnSelectBlueGrey.active {
    color:#607d8b !important;
    background-color:#f5f7f8 !important;
    font-weight: 500;
}

.btnSelectBrown {
    color:#795548 !important;
    border-color:#795548 !important;
}
.btnSelectBrown:hover, .btnSelectBrown.active {
    color:#795548 !important;
    background-color:#f8f4f3 !important;
    font-weight: 500;
}

.btnSelectBlack {
    color:#000000 !important;
    border-color:#000000 !important;
}
.btnSelectBlack:hover, .btnSelectBlack.active {
    color:#000 !important;
    background-color:#f0f0f0 !important;
    font-weight: 500;
}

.btnSelectPink {
    color:#e91e63 !important;
    border-color:#e91e63 !important;
}
.btnSelectPink:hover, .btnSelectPink.active {
    color:#e91e63 !important;
    background-color:#fef2f6 !important;
    font-weight: 500;
}

.btnSelectGreen {
    color:#4caf50 !important;
    border-color:#4caf50 !important;
}
.btnSelectGreen:hover, .btnSelectGreen.active {
    color:#4caf50 !important;
    background-color:#f4faf4 !important;
    font-weight: 500;
}

.btnSelectIndigo {
    color:#3f51b5 !important;
    border-color:#3f51b5 !important;
}
.btnSelectIndigo:hover, .btnSelectIndigo.active {
    color:#3f51b5 !important;
    background-color:#f3f4fb !important;
    font-weight: 500;
}
/** Style Switch buttons **/

.btnSelectYellow {
    color:#ffeb3b !important;
    border-color:#ffeb3b !important;
}
.btnSelectYellow:hover, .btnSelectYellow.active {
    color:#ffeb3b !important;
    background-color:#fffef3 !important;
    font-weight: 500;
}

.btnSelectPurple {
    color:#9c27b0 !important;
    border-color:#9c27b0 !important;
}
.btnSelectPurple:hover, .btnSelectPurple.active {
    color:#9c27b0 !important;
    background-color:#faf0fc !important;
    font-weight: 500;
}

.btnSelectOrange {
    color:#ff9800 !important;
    border-color:#ff9800 !important;
}
.btnSelectOrange:hover, .btnSelectOrange.active {
    color:#ff9800 !important;
    background-color:#fff9f0 !important;
    font-weight: 500;
}

.btnSelectTeal {
    color:#009688 !important;
    border-color:#009688 !important;
}
.btnSelectTeal:hover, .btnSelectTeal.active {
    color:#009688 !important;
    background-color:#e9fffd !important;
    font-weight: 500;
}

/* markdown dom controls */

.ctrlBottomLeft {
    float    : left;
    position : fixed;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
}

.ctrlBottomRight {
    float    : right;
    position : fixed;
    z-index  : 1;
    bottom   : 0;
    right    : 0;
}

/* guithub style for npm marked generated html */

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* page transition */

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

html {
    animation: fadein 0.300s;
}