/* 
    myStyles.css 
*/

/* style a column of links in a row as w3-btn */
.w3-row > .w3-col > p a {
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap; /* w3-btn */
}

.w3-row > .w3-col > p a:hover {
    color:#fff !important; background-color:#607d8b !important; /* .w3-hover-theme:hover */
}
