/*
    myStyles.css
*/

/* style a column of links in a row as w3-btn */
.w3-row > .w3-col > p a {
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap; /* w3-btn */
}

.w3-row > .w3-col > p a:hover {
    color:#fff !important; background-color:#607d8b !important; /* .w3-hover-theme:hover */
}

/* grid buttons */

div.w3-col > p > a {
    width: 95%;
}

/* markdown dom controls */

.ctrlBottomLeft {
    float    : left;
    position : fixed;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
}

.ctrlBottomRight {
    float    : right;
    position : fixed;
    z-index  : 1;
    bottom   : 0;
    right    : 0;
}

/* guithub style for npm marked generated html */

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
