<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome</title>

    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="css/myStyle.css">

    <script src="js/jquery.min.js"></script>
  </head>



  <body>
      <div class="w3-card w3-center">
        <h3>kiosk</h3>
        <div class="w3-theme-l5">Node v<span id="node-version"></span> | Chromeium v<span id="chrome-version"></span> | Electron v<span id="electron-version"></span></div>
        <p></p>
      </div>

      <div class="w3-row w3-card w3-theme-l4 w3-center">

        <a class="w3-col s4 w3-btn w3-hover-theme" href="html/bookmarks.html">
          <p>Bookmarks</p>
        </a>

        <a class="w3-col s4 w3-btn w3-hover-theme" href="html/scripts.html">
          <p>Scripts</p>
        </a>

        <a class="w3-col s4 w3-btn w3-hover-theme" href="html/notes.html">
          <p>Notes</p>
        </a>

      </div>

      <p></p>

      <div class="w3-row w3-card w3-theme-l3 w3-border-theme w3-center">
        <a id="btnGistDir" class="w3-col s4 w3-btn w3-hover-theme"><p>Gist Directory</p></a>
        <a id="btnGithubDir" class="w3-col s4 w3-btn w3-hover-theme"><p>Github Directory</p></a>
        <a id="" class="w3-col s4 w3-btn w3-hover-theme"><p>n/a</p></a>
      </div>

      <div class="w3-row w3-card w3-theme-l2 w3-border-theme w3-border-top w3-center">
        <a id="btnVSCode" class="w3-col s4 w3-btn w3-hover-theme"><p>VS Code</p></a>
        <a id="btnTaskMgr" class="w3-col s4 w3-btn w3-hover-theme"><p>Task Manager</p></a>
        <a id="btnWT" class="w3-col s4 w3-btn w3-hover-theme"><p>Windows Terminal</p></a>
      </div>

      <div class="w3-display-bottomright w3-theme-light">
        <a id="btnClose" class="w3-button w3-hover-theme">close</a>
      </div>

      <script src="js/index.js"></script>
  </body>

</html>
