<!DOCTYPE html>
<html id="htmlIndex">
	<!-- 
		Theme: 	99-cent theme
		About: 	themed cover page
				this file should replace "bookmark-renderer.git\view\index.html"
	-->

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Welcome</title>

        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/w3.css">
        <link id="w3Theme" rel="stylesheet" href="css/w3-theme-blue-grey.css" isDark="false">
        <link rel="stylesheet" href="css/myStyle.css">
		<style>
			/* wallpaper skin for just the index.html page */
			.ginsengSkin {
				background: url("../img/ginseng-skin.jpg");
				background-repeat: no-repeat;
				background-size: auto;
				background-size: 100%;
			}
		</style>
    </head>

    <body class="w3-theme-l5 ginsengSkin">
        <h3 class="w3-center w3-text-pink w3-hover-text-aqua">kiosk 売店</h3>
        <div class="w3-card w3-center w3-theme-l3">
            Node
            <sub id="node-version"></sub> <sup id="platform-arch"></sup> | Chromium <sub id="chrome-version"></sub> | Electron <sub id="electron-version"></sub>
            <p></p>
        </div>

        <div class="w3-row w3-card w3-center">
            <a id="btn1" class="w3-col s4 w3-btn w3-hover-text-white" href="html/bookmarks.html">
                <h5 class="w3-theme-l w3-hover-theme w3-round">bookmarks <sub>1</sub></h5>
            </a>
            <a id="btn2" class="w3-col s4 w3-btn" href="html/scripts.html">
                <h5 class="w3-hover-theme w3-round">scripts <sub>2</sub></h5>
            </a>
            <a id="btn3" class="w3-col s4 w3-btn" href="html/markdown.html" target="_blank">
                <h5 class="w3-hover-theme w3-round">markdown <sub>3</sub></h5>
            </a>
        </div>

        <p></p>

        <div class="w3-row w3-card w3-center">
            <a id="btn4" class="w3-col s6 w3-btn"><p class="w3-hover-theme w3-theme-l4 w3-round"> Gist Directory <sub>4</sub></p></a>
            <a id="btn5" class="w3-col s6 w3-btn"><p class="w3-hover-theme w3-theme-l4 w3-round"> Github Directory <sub>5</sub></p></a>
        </div>

        <div class="w3-row w3-card w3-border-top w3-center">
            <!-- <a id="btn6" class="w3-col s6 w3-btn"><p class="w3-hover-theme w3-theme-l4 w3-round">VS Code <sub>6</sub></p></a> -->
            <a id="btn6" class="w3-col s6 w3-btn"><p class="w3-hover-theme w3-theme-l4 w3-round"> Notepad++ <sub>6</sub></p></a>
            <a id="btn7" class="w3-col s6 w3-btn"><p class="w3-hover-theme w3-theme-l4 w3-round"> Windows Terminal <sub>7</sub></p></a>
        </div>

        <div class="w3-display-bottomleft">
            <a id="btnStyle1" class="w3-button roundedTop btnSelectBlueGrey">◯<sub>a</sub></a>
            <a id="btnStyle2" class="w3-button roundedTop btnSelectBrown">◯<sub>s</sub></a>
            <a id="btnStyle3" class="w3-button roundedTop btnSelectGrey">◯<sub>d</sub></a>
            <a id="btnStyle4" class="w3-button roundedTop btnSelectPink">◯<sub>f</sub></a>
            <a id="btnStyle5" class="w3-button roundedTop btnSelectGreen">◯<sub>g</sub></a>
            <a id="btnStyle6" class="w3-button roundedTop btnSelectIndigo">◯<sub>z</sub></a>
            <a id="btnStyle7" class="w3-button roundedTop btnSelectYellow">◯<sub>x</sub></a>
            <a id="btnStyle8" class="w3-button roundedTop btnSelectPurple">◯<sub>c</sub></a>
            <a id="btnStyle9" class="w3-button roundedTop btnSelectOrange">◯<sub>v</sub></a>
            <a id="btnStyle10" class="w3-button roundedTop btnSelectTeal">◯<sub>b</sub></a>
            <!-- <a id="btnStyle11" class="w3-button roundedTop btnSelectShift w3-hover-theme">◐<sub>⇧</sub></a> -->
			<a id="btnStyle11" class="w3-button roundedTop btnSelectShift w3-hover-aqua"><img src="./img/99-only-small.png" height="22px"></a>
        </div>
        <div class="w3-display-bottomright roundedTopLt">
            <a id="btnClose" class="roundedTopLt w3-button w3-hover-theme">close <sub>q</sub></a>
        </div>

        <script src="js/index.js"></script>
    </body>

</html>
